<div>
<form name="formulario"> 
	<label>Gestion de Factores</label>
	
	<div class="form-group">
		<label for="txtNombre">Nombre *</label>
	    <input type="text" class="form-control" id="txtNombre" name="nombre" placeholder="Nombre" ng-model="factor.nombre" required>
	</div>
	
  	<div class="form-group">
    	<label for="txtDescripcion">Descripcion *</label>
    	<textarea class="form-control" rows="5" id="txtDescripcion" placeholder="Descripcion" ng-model="factor.descripcion" required></textarea>
  	</div>
  	
  	<button type="button" class="btn btn-success" ng-click="guardarFactor()" ng-disabled="formulario.nombre.$invalid">Guardar</button>
  	<button type="submit" class="btn btn-second" ng-click="limpiar()">Limpiar</button>
</form>

<table class="table table-bordered">
	<thead>
		<tr>
			<th>Nombre</th>
			<th>Descripcion</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr ng-repeat="factor in factores">
			<td>{{factor.nombre}}</td>
			<td>{{factor.descripcion}}</td>
			<td><button type="button" class="btn btn-info" ng-click="editar(factor)">Editar</button> <button type="button" class="btn btn-danger" ng-click="eliminarFactor(factor.factorID)">Eliminar</button></td>
		</tr>
	</tbody>
</table>
</div>