<div>
	<form name="formulario" class="form-inline"> 
		<div class="form-group">
			<label for="txtNombre">Periodo: </label>
		    <input type="text" class="form-control" id="txtAnio" name="anio" ng-model="autoevaluacion.periodo" readonly>
		</div>
		
	  	<div class="form-group">
	    	<label for="cboPrograma">Programa: </label>
	    	<input type="text" class="form-control" id="txtAnio" name="anio" ng-model="autoevaluacion.programa.nombre" readonly>
	  	</div>
	  	
	  	<div class="regresar">
	  		<button type="button" class="btn btn-success" ng-click="regresarProcesoAutoevaluacion()">Regresar</button>
	  	</div>
	</form>

	<div class="div-opciones-autoevaluacion">
		<button id="buttonFactores" type="button" class="btn" ng-class="{informeFactoresGenerado: btn-success}" ng-click="generarInformeFactores()">Generar Informe Factores</button>
		<button id="buttonCaracteristicas" type="button" class="btn" ng-class="{habilitaCaracteristicas: btn-success}" ng-click="informeCaracteristicas()">Generar Informe Caracteristicas</button>
		<br><br>
		<div ng-show="informeFactoresGenerado">
			<button type="button">
				<a href="http://localhost:80/autoevaluacion/files/informes/factores.xls" >
					<span class="glyphicon glyphicon-download-alt"></span> Descargar
				</a>
			</button>
		</div>
		<br>
		<div ng-show="habilitaCaracteristicas">
			<form name="formulario" class="form-inline"> 
				  	<div class="form-group">
				    	<label for="cboPrograma">Factor: </label>
				    	<select class="form-control" id="cboFactor" name="factor" ng-model="factor.factorID" ng-options="factor.factorID as factor.nombre for factor in factores" ng-change="generarInformeCaracteristicas()" required></select>
				  	</div>
				  	<button type="button" ng-show="informeCaracteristicasGenerado">
						<a href="http://localhost:80/autoevaluacion/files/informes/caracteristicas.xls" >
							<span class="glyphicon glyphicon-download-alt"></span> Descargar
						</a>
					</button>
			</form>
				
		</div>
	</div>
</div>