<div class="modal-header">
	<h4 class="modal-title">Documentos</h4>
</div>
<div class="modal-body">
	<form>
		<div class="form-group">
		    <label for="txtObservaciones">Observaciones *</label>
    		<textarea class="form-control" rows="5" id="txtObservaciones" name="observaciones" placeholder="Observaciones" ng-model="observaciones" required></textarea>
		</div>
		<button type="button" class="btn btn-success" ng-click="guardarObservaciones()" >Guardar</button>
	</form>
</div>
<div class="modal-footer">
</div>